<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.svg">
    {{ $style := resources.Get "scss/global.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ $prism := resources.Get "css/prism.css" }}
    <link rel="stylesheet" href="{{ $prism.RelPermalink }}" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif+TC:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
    <script>
        (function() {
            var suffix = localStorage.getItem('isLight') === 'true' ? 'light' : 'dark';
            var el = document.documentElement;
            el.style.setProperty('--lava-overlay-color', 'var(--lava-overlay-' + suffix + ')');
            el.style.setProperty('--glass-bg',           'var(--glass-bg-'     + suffix + ')');
            el.style.setProperty('--glass-border',       'var(--glass-border-' + suffix + ')');
            el.style.setProperty('--glass-shadow',       'var(--glass-shadow-' + suffix + ')');
            el.style.setProperty('--bio-text',           'var(--bio-text-'     + suffix + ')');
            el.style.setProperty('--footer-text',        'var(--footer-text-'  + suffix + ')');
            el.style.setProperty('--social-icon',        'var(--social-icon-'  + suffix + ')');
        })();
    </script>
    {{ partial "seo/print.html" . }}
    {{ with .Params.forestry_instant_preview_id }}
      {{- safeHTML (printf "<meta property='forestry_instant_preview_id' content='%s'>" .) -}}
    {{ end -}}
</head>
